﻿@model IEnumerable<DMS.Model.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/js/plugins/datatables/jquery.dataTables.min.css" />


<div class="card">
    <div class="card-header">
        <h4>User Profiles</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md" style="margin-bottom:5px;">
                    <a href="@Url.Action("Create","User")" id="addToTable" class="btn btn-app-teal">Add New  <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CompanyId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoginName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>

                    <td>
                        <a href="@Url.Action("Edit","User",new { id = item.Id})"><i class="fa fa-pencil" title="Edit Branch Profile"></i></a> <a href="@Url.Action("Delete","User",new { id = item.Id})" class="delete-row" title="Remove Branch Profile" onclick="return confirm('Are sure wants to delete?');"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>

<script src="~/assets/js/pages/base_tables_datatables.js"></script>