﻿<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Login | DMS</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/assets/img/favicons/favicon.ico" />
    
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/assets/css/app.css" />
    <link rel="stylesheet" id="css-app-custom" href="~/assets/css/app-custom.css" />
    <!-- End Stylesheets -->
</head>
<body class="app-ui">
    <div class="app-layout-canvas">
        <div class="app-layout-container">
            <main class="app-layout-content">

                <!-- Page content -->
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <!-- Login card -->
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-5">
                                <div class="card">
                                    <h3 class="card-header h4">Login</h3>
                                    @Html.Partial("_Notifications")
                                    @RenderBody()
                                </div>
                                <!-- .card -->
                            </div>
                            <!-- .col-md-6 -->
                            <!-- End login -->

                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container -->
                </div>
                <!-- End page content -->

            </main>

        </div>

        <!-- .app-layout-container -->
    </div>
    
    <!-- .app-layout-canvas -->
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/app-custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Head", required: false);
</body>
</html>
