﻿@model IEnumerable<DMS.Model.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/js/plugins/datatables/jquery.dataTables.min.css" />

<div class="card">
    <div class="card-header">
        <h4>Branch Profiles</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md" style="margin-bottom:5px;">
                    <a href="@Url.Action("Create","Branch")" id="addToTable" class="btn btn-app-teal">Add New  <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Branchcode)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Branchcode)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        
                        <td>
                            <a href="@Url.Action("Edit","Branch",new { id = item.Id})"><i class="fa fa-pencil" title="Edit Branch Profile"></i></a> <a href="@Url.Action("Delete","Branch",new { id = item.Id})" class="delete-row" title="Remove Branch Profile" onclick="return confirm('Are sure wants to delete?');"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/js/pages/base_tables_datatables.js"></script>