﻿@model DMS.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}
<link rel="stylesheet" href="~/assets/js/plugins/select2/select2.min.css" />
<link rel="stylesheet" href="~/assets/js/plugins/select2/select2-bootstrap.css" />

<div class="card-block" align="center">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">


            @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.PasswordFor(model => model.LoginPassword, new { @class = "form-control", placeholder = "Password" } )
            @Html.ValidationMessageFor(model => model.LoginPassword, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <label for="frontend_login_remember" class="css-input switch switch-sm switch-app">
                <input type="checkbox" id="frontend_login_remember" /><span></span> Remember me
            </label>
        </div>
        @*<div class="form-group">

                @Html.DropDownListFor(model => model.CompanyId, new SelectList(Model.CompanyProfiles, "Id", "Name"), "Select Company", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })

        </div>*@


        <input type="submit" value="Login" class="btn btn-app btn-block" />

    </div>
    }
</div>
<script src="~/assets/js/core/jquery.min.js"></script>

<script>
    $(function () {
        //alert("Test");
        $("#CompanyId").selectize();

    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
