﻿@model DMS.Models.CompanyProfileViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/js/plugins/select2/select2.min.css" />
<link rel="stylesheet" href="~/assets/js/plugins/select2/select2-bootstrap.css" />
<style type="text/css">
    .text-danger{
        color:red;
        font-size:smaller;
    }
</style>

@using (Html.BeginForm("Create", "CompanyProfile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <!-- Horizontal Form -->
    <div class="card">
        <div class="card-header">
            <h4>Company Profile</h4>
            <ul class="card-actions">
                <li>
                    <button type="button"><i class="ion-more"></i></button>
                </li>
            </ul>
        </div>
        <div class="card-block">

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Name..." } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter display Name..." } })
                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsParent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.CheckBoxFor(model => model.IsParent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsParent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Company</label>
                @*@Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ParentId, new SelectList(Model.CompanyProfiles, "Id", "Name"), "Select Company", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Address, new { @rows = "4", @class = "form-control", @placeholder = "Enter Company Address..." })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WebAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.WebAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Web Address..." } })
                    @Html.ValidationMessageFor(model => model.WebAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address..." } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.CompanyLogoPath, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">Comapany Logo</label>
                <div class="col-md-5">
                    @*@Html.TextBoxFor(model => model.CompanyLogoPath, new { type = "file", placeholder = Html.DisplayNameFor(m => m.CompanyLogoPath), @class = "form-control" })*@
                    <div class="col-md-10">
                        <input type="file" name="file" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CompanyLogoPath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group m-b-0">
                <div class="col-md-9 col-md-offset-3">
                    <button class="btn btn-app" type="submit">Save</button>
                    <a href="@Url.Action("Index")" class="btn btn-app-light">Cancel</a>
                </div>

            </div>

        </div>
    </div>
    <!-- End Horizontal Form -->
</div>
}


<script src="~/assets/js/core/jquery.min.js"></script>
<!-- Page JS Plugins -->

<!-- Page JS Code -->
<script>
    $(function () {

        $companySelectize = $("#ParentId").selectize();
        companySelectize = $companySelectize[0].selectize;
        $("#IsParent").click(function () {
            if ($("#IsParent").prop("checked") == true) {
                companySelectize.disable();
            }
            else {
                companySelectize.enable();
            }
        });
    });


</script>