﻿@model DMS.Models.DepartmentViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/js/plugins/select2/select2.min.css" />
<link rel="stylesheet" href="~/assets/js/plugins/select2/select2-bootstrap.css" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="card">
            <div class="card-header">
                <h4>Department</h4>
                <hr />
                <ul class="card-actions">
                    <li>
                        <button type="button"><i class="ion-more"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Company</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CompanyId, new SelectList(Model.CompanyProfiles, "Id", "Name"), "Select Company", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group m-b-0">
                    <div class="col-md-9 col-md-offset-3">
                        <button class="btn btn-app" type="submit">Save</button>
                        <a href="@Url.Action("Index","Department")" class="btn btn-app-light">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/assets/js/core/jquery.min.js"></script>
<script>
    $(function () {

        $("#CompanyId").selectize();

    });


</script>
